@CHARSET "UTF-8";
.shoplist{
		
	}
.shoplist td{
	width:200px;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
}

.shoplist tr{
	height:200px;
}

.shopdetail{
	background-color:00CCFF;
	border:1px solid #989898;
	height:150px;
	width:200px;
	table-layout:fixed;
}
.shopdetail tr{
	height:10px;
}

.shopdetail td{
		padding-top:5px;
		padding-right:0px;
		padding-left:0px;
		width:40px;
		height:30px;
		text-align:center;	
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
}

.pic{
		width:180px;
		height:140px;
}
