@CHARSET "UTF-8";
#Container{
    width:100%;
    margin:0 auto;/*设置整个容器在浏览器中水平居中*/
    background:#ffffff;
}
#Header{
    height:50px;
    background:#f5f5f5;
}
#logo{
    padding-left:50px;
    padding-top:20px;
    padding-bottom:50px;
    
}
#label1{
	float:left;
}
#register_a{
	margin-left:5px;
	float:left;
}
#Midbar{
	margin:0;
	height:50px;
	background:#FF6537;
}
#Content{
    
    overflow:auto;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    margin-top:10px;/*此处讲解margin的用法，设置content与上面header元素之间的距离*/
    background:#ffffff;
    border:1px solid #e3e3e3;
     
}
#Content-Left{
    height:600px;
    width:10%;
    margin:20px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#0dc3ce;
    border:1px solid #e3e3e3;
}
#Content-Main{
    height:600px;
    width:80%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;/*设置元素跟其他元素的距离为20像素*/
    margin-right:0px;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#0dc3ce;
    border:1px solid #e3e3e3;
}
#Content-Mid{
    height:600px;
    width:80%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10%;/*设置元素跟其他元素的距离为20像素*/
    margin-right:10%;
    background:#ffffff;
    border:0px;
}
.Clear{
    clear:both;
}
#Footer{
    height:40px;
    background:#ffffff;
    margin-top:20px;
    border:1px solid #e3e3e3;
}

.ziti{
margin: 0;
padding: 0;
line-height: 1.5em;
font-family:微软雅黑;
text-align:center;
vertical-align:center;
font-size: 40px;
color:#0000CC;
background:#FF5511 
}


.div0{                    
	float:left;
	width: 30%;
}
.div1{                    
	width:700px;	
	height:300px;
	font-size:13px;	
	float:right;
	width:70%;
}

body{
	padding:0px;
	margin:0px; 
	font-size:12px;
}
#ul1{
	width:97%;
	margin:0 auto; 
	height:30px; 
	line-height:30px;
	list-style:none; 
	background:#CCC;
	}
.subme{
	float:right; 
	width:100px; 
	text-align:center;
	zindex:999
	}
#ul1 li a{
	text-decoration:none; 
	display:block;
	}
#ul1 li a:hover{
	background:#FCC;
	}
.submenu{
	display:none; 
	background:#FCC; 
	height:0;
	position:relative;
	z-index:999
}
a
	{
		text-decoration:none;
	}
	
	
	
	
	
	