@CHARSET "UTF-8";
.userid{
	border:0px;
	background:none;
	text-align:center;
}
.shopid{
	border:0px;
	background:none;
	text-align:center;
}
.truename{
	border:0px;
	background:none;
	text-align:center;
}
.shopinfo{
	width:700px;
	height:auto;
	position:absolute;
	top:190px;
	left:500px;
	border-collaspe:collaspe;
	border:gray solid 2px;
	font-family:"STFangsong";
	border-radius:5px;
	border-color:#6699FF;
	}
.shopinfo tr{
	height:20px;
	}
.shopinfo td{
	text-indent:3em;
	width:20px;
	}


	

	
	
	
	
	