<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.ctrl.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Regctrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.ctrl.Regctrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Loginctrl</servlet-name>
    <servlet-class>cn.edu.zhku.jsj.ctrl.Loginctrl</servlet-class>
  </servlet>


  
<servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Regctrl</servlet-name>
    <url-pattern>/Regctrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Loginctrl</servlet-name>
    <url-pattern>/Loginctrl</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
